In [95]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
from itertools import combinations

sns.set()
%matplotlib inline

In [3]:
DATA = "gun-violence-data_01-2013_03-2018.csv"
POPULATION_DATA = "population.csv"

https://plot.ly/python/choropleth-maps/

# Вспомогательный код

In [4]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}
states_inv = dict(((v, k) for k, v in states.items()))

In [5]:
def show_USA(data, title, bartitle, showcountries=False):
    scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
                [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

    data = [ dict(
            type='choropleth',
            colorscale = scl,
            autocolorscale = False,
            locations = [states_inv[x] for x in data.index],
            z = data.values.astype(float),
            locationmode = 'USA-states',
            text = list(data.index),
            marker = dict(
                line = dict (
                    color = 'rgb(255,255,255)',
                    width = 2
                ) ),
            colorbar = dict(
                title = bartitle)
            ) ]

    layout = dict(
            title = title,
            geo = dict(
                scope='usa',
                projection=dict( type='albers usa' ),
                showlakes = True,
                showcountries = showcountries,
                lakecolor = 'rgb(255, 255, 255)')
                 )

    fig = dict( data=data, layout=layout )
    return fig

# Загрузка данных

In [6]:
data = pd.read_csv(DATA, index_col=0)

In [7]:
population_data = pd.read_csv(POPULATION_DATA, index_col='State')['2018 Population']

In [8]:
incidents_by_state = data.groupby('state').date.count()

# Предварительный просмотр

In [9]:
data.head()

,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
incident_id,,,,,,,,,,,,,,,,,,,,,
461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,14.0,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,43.0,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,9.0,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,6.0,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,6.0,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239677 entries, 461105 to 1081940
Data columns (total 28 columns):
date                           239677 non-null object
state                          239677 non-null object
city_or_county                 239677 non-null object
address                        223180 non-null object
n_killed                       239677 non-null int64
n_injured                      239677 non-null int64
incident_url                   239677 non-null object
source_url                     239209 non-null object
incident_url_fields_missing    239677 non-null bool
congressional_district         227733 non-null float64
gun_stolen                     140179 non-null object
gun_type                       140226 non-null object
incident_characteristics       239351 non-null object
latitude                       231754 non-null float64
location_description           42089 non-null object
longitude                      231754 non-null float64
n_guns_involved                140226 non-null float64
notes                          158660 non-null object
participant_age                147379 non-null object
participant_age_group          197558 non-null object
participant_gender             203315 non-null object
participant_name               117424 non-null object
participant_relationship       15774 non-null object
participant_status             212051 non-null object
participant_type               214814 non-null object
sources                        239068 non-null object
state_house_district           200905 non-null float64
state_senate_district          207342 non-null float64
dtypes: bool(1), float64(6), int64(2), object(19)
memory usage: 51.4+ MB

In [11]:
data.describe()

,n_killed,n_injured,congressional_district,latitude,longitude,n_guns_involved,state_house_district,state_senate_district
count,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000,200905.000000,207342.00000
mean,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442,55.447132,20.47711
std,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202,42.048117,14.20456
min,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000,1.000000,1.00000
25%,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000,21.000000,9.00000
50%,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000,47.000000,19.00000
75%,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000,84.000000,30.00000
max,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000,901.000000,94.00000

In [12]:
data.participant_age.head()

incident_id
461105                                0::20
460726                                0::20
478855    0::25||1::31||2::33||3::34||4::33
478925           0::29||1::33||2::56||3::33
478959           0::18||1::46||2::14||3::47
Name: participant_age, dtype: object

In [13]:
ages =  [x.split('||') if x is not np.nan else np.nan for x in data.participant_age.values]

In [16]:
ages[:10]

[['0::20'],
 ['0::20'],
 ['0::25', '1::31', '2::33', '3::34', '4::33'],
 ['0::29', '1::33', '2::56', '3::33'],
 ['0::18', '1::46', '2::14', '3::47'],
 ['0::23', '1::23', '2::33', '3::55'],
 ['0::51', '1::40', '2::9', '3::5', '4::2', '5::15'],
 nan,
 nan,
 ['0::15']]

In [17]:
ages = [np.mean([float(y.split(':')[-1]) for y in x]) if x is not np.nan else np.nan for x  in ages]

In [18]:
data['mean_age'] = ages

*Странноватый формат записи возраста, если честно*

# Отрисовка всевозможных карт

### Число происшествий

In [19]:
fig = show_USA(incidents_by_state, 'Число преступлений с применением оружия', 'Число происшествий')
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~aleksey_dumbay/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

### Число происшествий на душу населения

In [20]:
fig = show_USA(incidents_by_state / population_data, 'Число преступлений с применением оружия на душу населения', 'Число происшествий')
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~aleksey_dumbay/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [21]:
incidents_by_state / population_data

Alabama                 0.001119
Alaska                  0.001828
Arizona                 0.000327
Arkansas                0.000941
California              0.000410
Colorado                0.000563
Connecticut             0.000855
Delaware                0.001735
District of Columbia    0.004541
Florida                 0.000705
Georgia                 0.000846
Hawaii                  0.000203
Idaho                   0.000377
Illinois                0.001375
Indiana                 0.000873
Iowa                    0.000796
Kansas                  0.000735
Kentucky                0.000930
Louisiana               0.001730
Maine                   0.000676
Maryland                0.000954
Massachusetts           0.000867
Michigan                0.000614
Minnesota               0.000428
Mississippi             0.001207
Missouri                0.001081
Montana                 0.000601
Nebraska                0.000854
Nevada                  0.000639
New Hampshire           0.000714
New Jersey              0.000596
New Mexico              0.000787
New York                0.000489
North Carolina          0.000841
North Dakota            0.000759
Ohio                    0.000876
Oklahoma                0.000877
Oregon                  0.000544
Pennsylvania            0.000696
Rhode Island            0.000843
South Carolina          0.001364
South Dakota            0.000620
Tennessee               0.001124
Texas                   0.000473
Utah                    0.000339
Vermont                 0.000756
Virginia                0.000698
Washington              0.000456
West Virginia           0.000874
Wisconsin               0.000823
Wyoming                 0.000861
dtype: float64

_Колумбия_

### Число убитых к инцидентам

In [22]:
diff = data.groupby('state').n_killed.sum() / data.groupby('state').n_killed.count()

In [23]:
fig = show_USA(diff, 'Отношение числа убийст к числу инцидентов', 'Отношение')
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~aleksey_dumbay/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

### Число убитых к населению

In [24]:
diff_1 = data.groupby('state').n_killed.sum() / population_data

In [25]:
fig = show_USA(diff_1, 'Отношение числа убийст к населению', 'Отношение')
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~aleksey_dumbay/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

### Средний возраст по штатам

In [26]:
diff_age = data.groupby('state').mean_age.mean() 
fig = show_USA(diff_age, 'Средний возраст участников', 'Возраст, лет')
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~aleksey_dumbay/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

### Число раненых к числу инцидентов

In [27]:
diff_inj = data.groupby('state').n_injured.sum() / data.groupby('state').n_injured.count()
fig = show_USA(diff_inj, 'Отношение числа раненых к числу инцидентов', 'Отношение')
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~aleksey_dumbay/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [28]:
sub_data = np.random.choice(len(data), size=(5000), replace=False)

## Табличные данные

In [29]:
trace = go.Scatter(x=data.iloc[sub_data].n_killed + np.random.rand(len(sub_data))*0.2, 
                   y=data.iloc[sub_data].n_injured + np.random.rand(len(sub_data))*0.4, 
                   mode = 'markers')
layout = dict(title = 'Убийства и раненые',
               xaxis= dict(
                    title= 'Убитые',
                    ticklen= 5,
                    zeroline= False,
                    gridwidth= 1,
                    dtick=1,
                ),
                yaxis=dict(
                    title= 'Раненые',
                    ticklen= 5,
                    gridwidth= 1,
                    dtick=1,
                ),
             )

plot_data = [trace]
py.iplot({'data': plot_data, 'layout':layout}, filename='basic-scatter')

In [30]:
sub_data = np.random.choice(len(data), size=(5000), replace=False)

### Города

In [31]:
top_places = data.groupby('city_or_county').date.count()

In [32]:
tp = top_places.sort_values()[-20:]

In [33]:
data1 = [go.Bar(
            x=tp,
            y=tp.index,
            orientation = 'h'
)]
layout = {'title':'Число инцидентов'}
py.iplot({'data': data1, 'layout':layout}, filename='horizontal-bar')

In [34]:
sub_data = np.random.choice(len(data), size=(10000), replace=False)

In [35]:
trace = go.Scatter(x=data.iloc[sub_data].n_killed + np.random.rand(len(sub_data))*0.2, 
                   y=data.iloc[sub_data].n_guns_involved + np.random.rand(len(sub_data))*0.4, 
                   mode = 'markers')
layout = dict(title = 'Убийства и используемые орудия',
               xaxis= dict(
                    title= 'Убитые',
                    ticklen= 5,
                    zeroline= False,
                    gridwidth= 1,
                    dtick=1,
                ),
                yaxis=dict(
                    title= 'Оружие',
                    ticklen= 5,
                    gridwidth= 1,
                ),
             )

plot_data = [trace]
py.iplot({'data': plot_data, 'layout':layout}, filename='basic-scatter')

### Среднее число убитых с использованием числа оружия

In [41]:
data.groupby('n_guns_involved').date.count().head()

n_guns_involved
1.0    127548
2.0      7477
3.0      2021
4.0       871
5.0       435
Name: date, dtype: int64

In [37]:
by_gun = data.groupby('n_guns_involved').n_killed.mean()
inj_gun = data.groupby('n_guns_involved').n_injured.mean()
idx = (by_gun > 0) | (inj_gun > 0)
by_gun = by_gun[idx]
inj_gun = inj_gun[idx]
layout = go.Layout(
    title='Результаты, в зависимости от фигурировавшего вооружения',
    xaxis=dict(
        title='Число вооружения в инциденте',
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        ),
    ),
    yaxis=dict(
        title='В среднем жертв',
        titlefont=dict(
            size=16,
            color='rgb(107, 107, 107)'
        ),
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        )
    ),
    legend=dict(
        x=0,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15,
    bargroupgap=0.1
)
gun_data = go.Bar(
            x=by_gun.index,
            y=by_gun,
            name='Среднее число убитых')
inj_data = go.Bar(
            x=inj_gun.index,
            y=inj_gun,
            name='Среднее число раненых')
gun_data = [gun_data, inj_data]
py.iplot({'data': gun_data, 'layout':layout}, filename='basic-scatter')

In [38]:
data[data.n_guns_involved==81]

,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,mean_age
incident_id,,,,,,,,,,,,,,,,,,,,,
389578,2015-08-03,Pennsylvania,Palmyra,2703 Horseshoe Pike,1,0,http://www.gunviolencearchive.org/incident/389578,http://fox43.com/2016/03/30/da-says-police-sho...,False,15.0,...,0::Adult 18+,0::Male,0::Joshua Malave,NaN,0::Killed,0::Subject-Suspect,http://philadelphia.cbslocal.com/2015/08/07/da...,NaN,NaN,18.0
623150,2016-08-05,New Jersey,Gloucester City,800 block of Brown Street,0,0,http://www.gunviolencearchive.org/incident/623150,http://www.courierpostonline.com/story/news/20...,False,1.0,...,0::Adult 18+,0::Male,0::George Walker,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.courierpostonline.com/story/news/20...,5.0,5.0,34.0

In [39]:
data[data.n_guns_involved==33]

,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,mean_age
incident_id,,,,,,,,,,,,,,,,,,,,,
391712,2015-08-08,Ohio,Dayton,8945 Kingsridge Dr,0,1,http://www.gunviolencearchive.org/incident/391712,http://www.whio.com/news/news/crime-law/second...,False,10.0,...,0::Adult 18+||1::Adult 18+||2::Adult 18+,0::Male||1::Male||2::Male,0::Nathan Wilson||1::Larry Darnell O'Neal Jr||...,NaN,"0::Unharmed, Arrested||1::Unharmed, Arrested||...",0::Subject-Suspect||1::Subject-Suspect||2::Sub...,http://www.whio.com/news/news/crime-law/video-...,42.0,6.0,19.333333
708361,2016-09-18,Illinois,Chicago,77th and Avalon,0,0,http://www.gunviolencearchive.org/incident/708361,http://chicago.cbslocal.com/2016/11/22/2-inves...,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,http://chicago.cbslocal.com/2016/11/22/2-inves...,5.0,3.0,NaN

### Общее число

In [40]:
by_gun = data.groupby('n_guns_involved').n_killed.sum()
inj_gun = data.groupby('n_guns_involved').n_injured.sum()
idx = (by_gun > 0) | (inj_gun > 0)
by_gun = by_gun[idx]
inj_gun = inj_gun[idx]
layout = go.Layout(
    title='Число используемого оружия',
    xaxis=dict(
        title='Число оружия',
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        ),
    ),
    yaxis=dict(
        title='Среднее число убитых',
        titlefont=dict(
            size=16,
            color='rgb(107, 107, 107)'
        ),
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        )
    ),
    legend=dict(
        x=0,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15,
    bargroupgap=0.1
)
gun_data = go.Bar(
            x=by_gun.index,
            y=by_gun,
            name='Среднее число убитых')
inj_data = go.Bar(
            x=inj_gun.index,
            y=inj_gun,
            name='Среднее число раненых')
gun_data = [gun_data, inj_data]
py.iplot({'data': gun_data, 'layout':layout}, filename='basic-scatter')

## Исследуем типы оружия

In [57]:
guns =  [x.split('||') if x is not np.nan else np.nan for x in data.gun_type.values]
guns = [np.random.choice([y.split(':')[-1] for y in x]) if x is not np.nan else np.nan for x  in guns]

In [58]:
data['random_gun_type'] = guns

In [64]:
weapon_age = data[['mean_age', 'random_gun_type']].dropna()

In [70]:
mean_age = weapon_age.groupby('random_gun_type').mean()
total_users = weapon_age.groupby('random_gun_type').count()

In [75]:
total_users = total_users.drop('Unknown', axis=0)

In [83]:
data1 = [go.Bar(
            y=total_users.values,
            x=total_users.index
)]
layout = {'title':'Число инцидентов'
    }
py.iplot({'data': data1, 'layout':layout}, filename='horizontal-bar')

In [85]:
data1 = [go.Bar(
            y=mean_age.values,
            x=mean_age.index
)]
layout = {'title':'Средний возраст, лет'
    }
py.iplot({'data': data1, 'layout':layout}, filename='horizontal-bar')

In [135]:
guns =  [x.split('||') if x is not np.nan else np.nan for x in data.gun_type.values]
guns = [[y.split(':')[-1] for y in x] if x is not np.nan else np.nan for x  in guns]

In [136]:
guns = [gun for gun in guns if gun is not np.nan]

In [137]:
guns_uniq = np.unique([x[0] for x in guns])

In [138]:
mapping = dict((gun, i) for i, gun in enumerate(guns_uniq))

In [139]:
heatmap = np.zeros((len(guns_uniq), len(guns_uniq)))

In [167]:
for gun in guns:
    if isinstance(gun, list):
        for gun_combo in combinations(gun, 2):
            tmp = list(gun_combo)
            heatmap[mapping[tmp[0]], mapping[tmp[1]]] += 1.
            heatmap[mapping[tmp[1]], mapping[tmp[0]]] += 1.

In [168]:
df = pd.DataFrame(heatmap, index=guns_uniq, columns=guns_uniq)
df = df.drop('Unknown', axis=0)
df = df.drop('Unknown', axis=1)

In [169]:
trace = go.Heatmap(z=df.values, x=guns_uniq, y=guns_uniq, colorscale = 'Viridis')
layout = {'title':'Пары оружия', 'height' : 1000, 'width':1000}
data=[trace]
py.iplot({'data': data, 'layout':layout}, filename='basic-heatmap')

In [170]:
df = df.drop('Handgun', axis=0)
df = df.drop('Handgun', axis=1)

In [172]:
trace = go.Heatmap(z=df.values, x=df.index, y=df.index, colorscale = 'Viridis')
layout = {'title':'Пары оружия', 'height' : 1000, 'width':1000}
data=[trace]
py.iplot({'data': data, 'layout':layout}, filename='basic-heatmap')